body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  text-align: center;
}

.square {
  background: #e7ff5e;
  border: 2px solid #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 6.25rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 6.25rem;

  border-radius: 10%;
}

.square:focus {
  outline: none;
}

.square:hover {
  outline: none;
  transition: 500ms;
  background: #0cd0b9;
}

.square-clicked {
  background-color: #a95cff;
  color: #fff;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
}

.game-info {
  margin-left: 20px;
}

.move-btn {
  border: none;
  background-color: #474747;
  color: white;
  margin-bottom: 2px;
  height: 25px;
  border-radius: 10%;
}

.move-btn:hover {
  transition: 400ms;
  background-color: #3030e0;
}

/* -------------------------- */
@media only screen and (max-width: 620px) {
  .game {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .board-row {
    width: 240px;
  }

  .square {
    height: 5rem;
    width: 5rem;
  }

  .game-info {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 20px;
    align-items: center;
  }

  .player {
    text-align: center;
  }
}