/* body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

:global(ol, ul) {
  padding-left: 30px;
}

:global(.board-row:after) {
  clear: both;
  content: "";
  display: table;
}

:global(.status) {
  margin-bottom: 10px;
}

:global(.square) {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

:gloabl(.square:focus) {
  outline: none;
}

:global(.kbd-navigation .square:focus) {
  background: #ddd;
}

:global(.game) {
  display: flex;
  flex-direction: row;
}

:global(.game-info) {
  margin-left: 20px;
} */
